argParseFromDoc >=0.1.4
einops >=0.8.0
cachetools>=5.3.1
e3nn >=0.5.1
einops >= 0.8.1
#escnn >= 1.0
healpy >=1.17.3
joblib >=1.3
kornia >= 0.7.3
monai >= 1.4
mrcfile >=1.4.3, <2.0.0
numpy >=1.25.2
omegaconf >=2.3.0
pandas >= 2.1.0
pdoc3 >= 0.10.0
progressBarDistributed @ git+https://github.com/rsanchezgarc/progressBarDistributed@f8458645a094f35626fe50a2e13ba904459db2e0
psutil >= 5.9.5
lightning[pytorch-extra] >=2.5.0, <3.0.0
requests >=2.31.0
scipy >=1.15.1
starfile >=0.4.12
starstack  >=0.2.9
tensorboard >=2.12.1
torch >=2.0.0, <3.0.0
torchvision >=0.15.2
torch-fourier-shell-correlation >=0.0.2
torch-fourier-shift >=0.0.6
torch-fourier-slice >=0.3.1
tqdm >=4.67.1
